{% extends 'base.html.twig' %}

{% block title %}Create a new event{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.shortDescription) }}
                {{ form_row(form.longDescription) }}
                {{ form_row(form.date) }}
                <input type="submit" value="Add" class="btn btn-default pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <table class="table">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Date</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.shortDescription }}</td>
                        <td>{{ event.date|date('Y-m-d')  }}</td>
                        <td>
                            <a>
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </td>
                        <td>
                            <a>
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}