<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/bundled.css') }}" />
        <script src="{{ asset('assets/js/bundled.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
        {% block content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
