{% extends 'base.html.twig' %}

{% block title %}Create a new event{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10">
            <table class="table">
                <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                </tr>
                </thead>
                <tbody>
                    {% for timeline in timelines %}
                        <tr>
                            <td>{{ timeline.title }}</td>
                            <td>{{ timeline.description }}</td>
                            <td>
                                <a href="{{ path('app_visualization_simpletimeline', {'id': timeline.id}) }}">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}