{% extends 'base.html.twig' %}

{% block title %}Simple timeline{% endblock %}

{% block content %}
    <div class="col-lg-10">
        <h1>{{ timeline.title }}</h1>
        <h2>{{ timeline.description }}</h2>
        <div>
            <ul class="timeline">
                {% for event in events %}
                    <li>
                        <div>
                            <p class="title">{{ event.title }}</p>
                            <p class="time">{{ event.date|date('Y-m-d') }}</p>
                            <p class="short">{{ event.shortDescription }}</p>
                            <p class="long">{{ event.longDescription }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}