{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <style>
        body {
            background: #222;
            font-family: sans-serif;
            font-style: italic;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <body></body>
{% endblock %}
{% block javascripts %}
    <script src={{ asset('assets/js/d3.min.js') }}></script>
<script>

    var now = d3.timeYear.floor(new Date());

    console.log(now);

    var spacetime = d3.select('body');
    var width = 960,
        height = 500,
        radius = Math.min(width, height);

    var radii = {
        "sun": radius / 8,
        "earthOrbit": radius / 2.5,
        "earth": radius / 32,
        "moonOrbit": radius / 16,
        "moon": radius / 96
    };

    // Space
    var svg = spacetime.append("svg")
        .attr("width", width)
        .attr("height", height)
        .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    // Sun
    svg.append("circle")
        .attr("class", "sun")
        .attr("r", radii.sun)
        .style("fill", "rgba(255, 204, 0, 1.0)");

    // Earth's orbit
    svg.append("circle")
        .attr("class", "earthOrbit")
        .attr("r", radii.earthOrbit)
        .style("fill", "none")
        .style("stroke", "rgba(255, 204, 0, 0.25)");

</script>
{% endblock %}