.timeline li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgba(0,0,0,0.23);;
}

.timeline li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
}

.timeline li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.timeline li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline li:nth-child(odd) div { left: 45px; }

.timeline li:nth-child(odd) div::before {
    width: 0;
    height: 0;
    bottom: 0;
    left: -23px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 0px solid transparent;
    border-right: 20px solid #080808;
}

.timeline li:nth-child(even) div { left: -439px; }

.timeline li:nth-child(even) div::before {
    width: 0;
    height: 0;
    bottom: 0;
    right: -23px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #080808;
    border-right: 0px solid transparent;
}

.timeline p.time {
    width: 50%;
    float: left;
    text-align: right;
    color: gray;
}
.timeline p.title {
    width: 50%;
    float: left;
}

.timeline p {
    overflow: hidden;
    width: 100%;
}
