{% extends 'base.html.twig' %}

{% block title %}Create a new event{% endblock %}

{% block content %}
    <div class="col-lg-10">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <input type="submit" value="Edit" class="btn btn-default pull-right" />
        {{ form_end(form) }}
    </div>
{% endblock %}