{% extends 'base.html.twig' %}

{% block title %}Timelines{% endblock %}

{% block content %}
    <div class="col-lg-10">
        {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        <input type="submit" value="Create" class="btn btn-default pull-right" />
        {{ form_end(form) }}
    </div>
    {% include '@App/Timeline/list.html.twig' %}
{% endblock %}