<div class="col-lg-10">
    <table class="table">
        <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
        </tr>
        </thead>
        <tbody>
        {% for timeline in timelines %}
            <tr>
                <td>{{ timeline.title }}</td>
                <td>{{ timeline.description }}</td>
                <td>
                    <a href="{{ path('app_timeline_edit', {'id': timeline.id}) }}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_event_add', {'id': timeline.id}) }}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_timeline_remove', {'id': timeline.id}) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>